<div id="hero" class="sixteen wide column">
        {% for post in site.categories.events limit: 1 %}

    <div class="ui raised segment" >
            <a class="ui red ribbon label">Next Event</a>
            <div class="ui center aligned container">
                <h3>{{post.title}}</h3>

                <p class="strapline"><strong>{{post.event_subtitle}}</strong></p>

                {% if post.event_url %}
                <p><a href="{{post.event_url}}" class="massive ui button bristol-blue">Book</a></p>
                {% else %}
                <p><a href="{{post.url}}" class="big ui button">More Info</a></p>
                {% endif %}

                <p style="font-size: 2em;">
                    <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;
                    {{post.event_date | date: '%B %d, %Y'}}</p>
                {% endfor %}
            </div>

        </div>
</div><!-- /#hero -->
