<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="item" href="/" title="">Home</a>
        <a class="item" href="/elements">Elements</a>
        <a class="item" href="/blog">Blog</a>
        <a class="item">Categories</a>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="item" href="/" title="">Home</a>
    <a class="item" href="/elements">Elements</a>
    <a class="item" href="/blog">Blog</a>
    <a class="item">Categories</a>
</div>
