{% include head.html %}

{% include nav.html %}

<!-- Page Contents -->
<div class="pusher">

    {% include header-content-page.html %}


    <div id="main" class="ui middle stackable grid container">
       <section>

            {% assign colors = "red, orange, green, teal, violet, pink" | split: "," %}
            {% assign num_colors = colors | size %}

           {% assign event_count = site.categories.events | size %}

            <div class="ui equal height grid">

                {% for post in site.categories.events %}
                {% assign loopindex = loopindex | plus: 1 %}
                {% assign color_index = loopindex | modulo: num_colors %}

                <div class="four wide column">
                    <div class="ui {{colors[color_index]}} inverted segment">
                        <div class="content">
                            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                        </div>
                        <div class="meta">
                            {% if post.event_date %}
                            <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;
                            {{post.event_date | date: '%B %d, %Y'}}
                            {% else %}
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            {{post.date | date: '%B %d, %Y'}}
                            {% endif %}
                        </div>
                    </div>

                </div><!-- /.four.wide.column -->

                {% endfor %}
                {% if event_count < 4 %}
                {% assign filler_num = 4 | minus: event_count %}

                {% for i in (1..filler_num) %}
                <div class="four wide column">
                <div class="ui segment">
                    <div class="content">
                        <h4>fff</a></h4>
                    </div>
                    <div class="meta">
ddd
                    </div>
                </div>
                </div>
                {% endfor %}

                {% endif %}
            </div>
        </section>

    </div><!-- /#main -->
    {% include footer-content.html %}

</div><!-- pusher -->

{% include foot.html %}