{% include head.html %}

{% include nav.html %}

<!-- Page Contents -->
<div class="pusher">

    {% include header-content-page.html %}

    <div id="main" class="ui middle stackable grid container">
            <div class="row">
                <div id="content" class="twelve wide column">
                    <article>
                        <h2>{{page.title}}</h2>
                        {{ content }}

                        <div class="ui left aligned segment">
                            <div class="meta">
                                {% if page.author %} Written by {{ page.author }} <br />{% endif %}
                                Published on {{page.date | date: '%B %d, %Y'}}<br />

                                {% if page.tags.size > 0 %}
                                    Tag{% if page.tags.size > 1 %}s{% endif %}:
                                    {% for tag in page.tags %}
                                        <span class="ui tag label">{{ tag }}</span>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>

                    </article>

                    {% include share.html %}

                </div>

                <div id="sidebar" class="four wide column">

                    {% assign colors = "red, orange, green, teal, violet, pink" | split: "," %}
                    {% assign num_colors = colors | size %}

                    <h3>Latest Blog Posts</h3>
                    <div class="ui list">
                        {% for post in site.categories.news limit: 5 %}
                        {% assign loopindex = loopindex | plus: 1 %}
                        {% assign color_index = loopindex | modulo: num_colors %}
                            <div class="item">
                                <div class="ui {{colors[color_index]}} inverted segment">
                                    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div><!-- /.list -->

                    <h3>Events</h3>
                    <div class="ui list">
                        {% for post in site.categories.events limit: 5 %}
                        {% assign loopindex = loopindex | plus: 1 %}
                        {% assign color_index = loopindex | modulo: num_colors %}
                        <div class="item">
                            <div class="ui {{colors[color_index]}} inverted segment">
                                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div><!-- /.list -->
                </div>
            </div><!-- row -->
    </div><!-- /#main -->
    {% include footer-content.html %}

</div><!-- pusher -->

{% include foot.html %}